body {
    background-color: rgb(107, 155, 197);
    margin: 0px;
}

div {
    text-align: center;
}

img {
    max-width: 500px;
}
a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
}

header {
    background-color: bisque;
}

header nav a {
    background-color: bisque;
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    font-weight: 600;
    color: rgb(130, 14, 14);
}

html {
    scroll-behavior: smooth;
}